/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$grey: #ccc;
$primaryColor: #9D764B;
$secondaryColor: #94b533;
$fontcolor: #666666;
