@import "./src/styles/_base.scss";

.card {
  position: relative;
  min-height: 200px;
}

.milestonesCount {
  border-radius: 10px;
  background-color: $secondaryColor;
  padding: 1px 5px;
}

.clickable {
  cursor: pointer;
}
